<%- include("../components/head") %>
<body>
    <%- include("../components/dashboard/sidebar") %>
    <main>
        <%- include("../components/dashboard/navbar") %>
          <section class="farmer">
            <h1>Total Farmer</h1>
            <table id="example" class="table table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone number</th>
                  <th>Address</th>
                  <th>Joined at</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < farmers.length; i++){ %>
                  <tr>
                    <td><%=farmers[i].name%> </td>
                    <td><%=farmers[i].email%></td>
                    <td><%=farmers[i].phoneNumber%></td>
                    <td><%=farmers[i].address%></td>                 
                    <td><%=farmers[i].createdAt.toISOString().split("T")[0]%></td>
                    <td class="action-menu">
                      <i class="fa-solid fa-ellipsis"></i>
                      <ul class="action-btn">
                        <li><button type="submit" onclick="deleteFarmer('<%= farmers[i].id %>')"><i class="fa-solid fa-trash"></i>Delete</button></li>
                      </ul>
                    </td>
                  </tr>
                <% } %>
              </tbody>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone number</th>
                  <th>Address</th>
                  <th>Joined at</th>
                </tr>
              </tfoot>
            </table>    
          </section>


    </main>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/dashboard/index.js"></script>
    <script src="/js/dashboard/farmer.js"></script>
    <script>
      const deleteFarmer= (id)=>{
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-danger'
          },
          buttonsStyling: false
        })
    
        swalWithBootstrapButtons.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!',
          reverseButtons: true
        }).then((result)=>{
          if (result.isConfirmed) {
            location.href= "/admin/farmers/"+id+"/delete"
          } 
          
        })
      }


      
    </script>
</body>
</html>