<%- include("../components/head") %>
<body>
    <%- include("../components/header") %>
    <section class="container productinfo-wrapper">
      <h1><%= oneproduct.productname %></h1>
      <div class="product-details">
         <div class="product-img">
           <img src="/<%=oneproduct.productImg %>" alt="productinfo">
         </div>
         <input id="id" type="text" value="<%= oneproduct.User.id%>" hidden>
         <table>
           <tr class="owners-info">
             <td>Owners</td>
             <td>Rohan</td>
           </tr>
           <tr class="price-info">
             <td>Price</td>
             <td class="price">80 Nrs</td>
           </tr>
           <tr>
             <td>Quality</td>
             <td>C</td>
           </tr>
           <tr>
             <td>Size</td>
             <td>Large</td>
           </tr>
           <tr>
             <td>Grown</td>
             <td>Locally</td>
           </tr>
           <tr>
             <td>Vitamins</td>
             <td>C</td>
           </tr>
           <tr>
             <td>Calories</td>
             <td>41</td>
           </tr>
           <tr>
             <td>Soil</td>
             <td>Drained</td>
           </tr>
           <tr>
             <td>Origin</td>
             <td>Dang</td>
           </tr>
           <tr>
             <td>Availability</td>
             <td>Yes</td>
           </tr>
           <tr>
             <td>Shelf Life</td>
             <td>15 days</td>
           </tr>
         </table>
       <!-- <div class="text">
          <div class="kxa">
           <p class="hi">Owners</p>
           <p>Price</p>
           <p>Quality</p>
           <p>Size</p>
           <p>Growns</p>
           <p>Vitamins</p>
           <p>Calories</p>
           <p>Soil</p>
           <p>Origin</p>
           <p>Availability:</p>
           <p>Shelf Life</p>
          </div>
          <div class="timi">
           <p class="hello"><%=oneproduct.User.name %></p>
           <p class="red"><%=oneproduct.price %> Nrs</p>
           <p><%=oneproduct.quality %></p>
           <p>large</p>
           <p>locally</p>
           <p>C</p>
           <p>41</p>
           <p>Drained</p>
           <p>Dang</p>
           <p>Yes</p>
           <p>15days</p>
          </div>
       </div>  -->
      </div>
        <div class="productinfo">
           <div class="button">
            <button class="hi-btn" onclick="reply('')"><span class="me-btn">Message Farmer</span></button>
           </div>
           <div class="description">
            <p><%=oneproduct.description %></p>
           </div>
        </div>
    </section>

<script src="/js/toast.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
const reply = async () => {
  const { value: formValues } = await Swal.fire({
    title: 'Compose Email',
    html:
      '<input id="email" class="swal2-input" placeholder="Your email">' +
      '<input id="subject" class="swal2-input" placeholder="Subject">' +
      '<textarea id="message" class="swal2-textarea" placeholder="Message"></textarea>',
    focusConfirm: false,
    preConfirm: () => {
      return [
        document.getElementById('email').value,
        document.getElementById('subject').value,
        document.getElementById('message').value
      ]
    }
  })

  var userid=$("#id").val()
  if (formValues) {
    const [email, subject, message] = formValues // destructure form values into individual variables
    
    // Check if any form fields are empty
    if (!email || !subject || !message) {
      return Toast.fire({
        title: 'Error!',
        text: 'Please fill in all fields',
        icon: 'error',
      })
    }

    fetch('/productInfo/message', {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({ message, email, subject, userid:userid})
    })
    .then(res => res.json())
    .then(data => {
      if (data.title == 'failure') {
        Toast.fire({
          title: 'Error!',
          text: 'Unable to send message',
          icon: 'error',
        })
      } else if (data.title == 'success') {
        Toast.fire({
          title: 'Success!',
          text: 'Message sent successfully',
          icon: 'success',
        }).then(() => {
          location.reload()
        })
      }
    })
    .catch(error => {
      Toast.fire({
        title: 'Error!',
        text: 'An error occurred while sending the message. Please try again later.',
        icon: 'error',
      })
    })
  }
}


</script>
</body>
</html>